@import '../../index.css';

.flex-container-2 {
   background: url("https://media.discordapp.net/attachments/716919293270556702/851290480528326666/tumblr_753c6408f2a5c68abf71e5cbf56950f0_fda9b63b_2048_-_Copy.jpg")
   center center;
   background-position: cover;
   width: 100vw;
}

.deckpage.flex-container {
    background: url("https://media.discordapp.net/attachments/716919293270556702/851290538019651644/tumblr_f5376d0a9080420fec0fb24265d80148_47df7aa7_2048.jpg")
    center center;
    background-position: cover;
    width: 100vw;
 }

 .single-deck.bgColor {
     background-color: rgba(255, 171, 161, 0.6);
     box-shadow: 0px 0px 10px 5px rgba(255, 196, 196, 0.8);
     border-radius: 10px;
 }


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .div1 { grid-area: 2 / 2 / 3 / 3; }
    .div2 { grid-area: 2 / 4 / 3 / 5; }
    .div3 { grid-area: 1 / 2 / 2 / 5; }
    .div4 { grid-area: 3 / 2 / 4 / 5; }


.profile-header {
    font-family: var(--permanent-marker);
    font-style: italic;
    font-weight: 500;
    font-size: 2.7rem;
    color: rgb(247, 71, 71);
    /* color: rgb(255, 106, 106); */
}

.profile-header-2 {
    font-family: var(--japanese-text);
    font-style: italic;
    font-weight: 900;
    font-size: 1.9rem;
    /* color: rgba(255, 255, 255, 0.856);
     */
    color: black;
}

.card.bgColor {
    background: rgb(190,0,41);
    background: radial-gradient(circle, rgba(190,0,41,1) 39%, rgba(255,255,255,1) 42%);
}

.card.bgColor-smaller {
    background: rgb(190,0,41);
    background: radial-gradient(circle, rgba(190,0,41,1) 25%, whitesmoke 32%);
}


.inventory-msg:nth-child(1) {
    font-weight: 700;
    margin-bottom: 15px;
}

.inventory-msg-2 {
    font-weight: 700;
    margin-top: 15px;
}

.inventory-pg-intro-msg {
    font-family: var(--permanent-marker);
    font-size: 2rem;
    font-style: italic;
}

.my-decks {
    font-family: var(--permanent-marker);
    font-size: 1.5rem;
    font-style: italic;
}
