@import "../../index.css";

/* From the NavBar component */
.main-nav {
    background-color: var(--lg-gray);
}


/* Styles for the Logo component */


/* Styles for the Discover Japanese Button */
.dj-box {
    border: 3px solid #fff;
    border-radius: 8px;
    padding: 3px 20px;
}

.dj-box:hover {
    background-color: var(--japanese-red);
    color: #fff;
    transition: all ease-in 350ms;
    cursor: pointer;
}

.dj-btn {
    font-family: var(--cursive);

    text-decoration: none;
    outline: none;
    outline-offset: none;
    height: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding: 0px 10px;
}

.dj-link {
    font-size: 1.15rem;
    text-decoration: none;
    outline-offset: 0px!important;
    outline: none!important;
    transition: none!important;
}


.dj-link:hover {
    text-decoration: none!important;
    outline: none!important;
    outline-offset: none!important;
}
